* {
	box-sizing: border-box;
}

.app-wrapper {
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 3fr 10fr;
	gap: 10px;
	margin: 0 auto;
	width: 1200px;
}

.app-content {
	background-color: #eeeeee;
}