.dialogs {
    display: grid;
    grid-template-columns: 180px 2px 1fr;    
    gap: 3px;
    min-height: calc(100% - 20px);
    padding: 10px;
}

.dialogsBar {
    padding: 10px;
    overflow: hidden;
}

.dialogsDivider {
    width: 2px;    
    background-color: rgba(0,0,0, 0.4);
}

.dialogsMessages {
    padding: 10px;
}